- page_title _('Edit'), "#{@runner.description} ##{@runner.id}", _('Runners')

%h4 Runner ##{@runner.id}

%hr
  = render 'shared/runners/form', runner: @runner, runner_form_url: group_runner_path(@group, @runner)
